body{
    background-color:rgb(72, 210, 134);
}

.headers:hover{
    color: rgb(247, 10, 128);
}

h1{
    position:absolute;
    left:62%;
    font-family: fantasy;
}

.image{
    border: dashed palevioletred;
    border-width: 10px;
}

.INFO-CONTAINER{
    background-color: palevioletred;
    border: dashed white;
    border-width: 10px;
    width: 40%;
    height: 60%;
    position:absolute;
    top: 20%;
    left: 58%;
}

.INFO{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: white;
    transform: translate(0%, 50%);
}
 
.thoughts-container{
    background-color: rgb(244, 169, 194);
    border: dashed white;
    border-width: 10px;
    width: 40%;
    height: 60%;
    position:absolute;
    top:90%;
    left:58%;
}

.thoughts{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: rgb(18, 40, 26);
    transform: translate(0%, 2%);
    padding: 20px;
}

h2{
    position: relative;
    left: 35%;
}

p:hover{
    color: lightgreen;
    letter-spacing:4px;
}

